<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>PrestaPoints</h2>
        <p>PrestaPoints permet à des passionnés de partager leur savoir-faire avec des novices à travers des ateliers et d'obtenir des réductions dans des grandes enseignes</p>
      </div>
    </div>
    <hr>
    <div class="informations">
      <div class="row">
        <div class="col-md-4">
            <h3>Notre offre</h3>
            <ul>
              <li>Par univers</li>
              <li>Par ville</li>
              <li>Par savoir-faire</li>
              <li>Offrir une carte cadeau</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>PrestaPoints</h3>
            <ul>
              <li>Notre mission</li>
              <li>Nos partenaires</li>
              <li>Rejoindre notre équipe</li>
              <li>Devenir artisan PrestaPoints</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Réseaux sociaux</h3>
            <div class="social-media-list">
              <a href="#"><img src="assets/icons/facebook.png" alt="Facebook"></a>
              <a href="#"><img src="assets/icons/twitter.png" alt="Twitter"></a>
              <a href="#"><img src="assets/icons/instagram.png" alt="Instagram"></a>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <h3>&copy; 2023 PrestaPoints. Tous droits réservés.</h3>
    </div>
  </div>
</footer>
