<div class="container presta-mt-md-10 mt-7">
  <div class="category-details text-primary">
    <div class="my-0 fw-0 presta-mt-4 text-md-left">
      <h6>Découvrez les ateliers près de chez vous <i class="bi bi-arrow-right"></i></h6>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-12 my-0 fw-0 mt-4 text-md-left">
        <h5>Ateliers liés à la catégorie "{{ selectedCategory.name }}"</h5>
        
        <div class="col-12" *ngIf="!isMobile">
          <div class="d-flex flex-wrap">
            <div class="mb-3" *ngFor="let prestation of prestations">
              <app-card [prestation]="prestation"></app-card>
            </div>
          </div>
        </div>
        
        <div class="d-flex flex-row" *ngIf="isMobile">
          <div id="swiperCustomMobile" class="carousel slide">
            <div class="swiper-container">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide" *ngFor="let prestation of prestations">
                  <app-slider [prestationsApi]="prestations"></app-slider>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
