@import "/src/styles/variables.scss";

.container-details {
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 20px;
   
}
label{
    font-weight: bold; 
}
.cardForm{
    width: 80%;
}