<!-- Button trigger modal -->
<div class="container m-4">
    
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalFormulairePrestation">
    Ajouter une prestation
  </button>

  <!-- Modal -->  
  <div class="modal fade" id="ModalFormulairePrestation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="prestationFormBasic" (ngSubmit)="onSubmit()">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Ajouter une prestation
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="mb-3" *ngFor="let field of formFieldsBasic">
                        <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                        <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" class="form-control" />
                        <div *ngIf="prestationFormBasic.get(field.name)?.errors && !prestationFormBasic.get(field.name)?.pristine"
                             class="error-msg m-3 text-danger">
                            <div [hidden]="!prestationFormBasic.get(field.name)?.errors?.['required']">
                                cette donnée est obligatoire.
                            </div>
                            <div [hidden]="!prestationFormBasic.controls[field.name].invalid">
                                {{ field.validationMessage }}
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-flex justify-content-end">
                            <button type="submit" [disabled]="prestationFormBasic.invalid" class="btn btn-primary m-2">Soumettre</button>
                            <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Close</button>   
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card-details-mini p-5 mt-lg-12 mx-lg-12 mx-md-8 my-md-8 mx-sm-5 my-sm-5 position-relative shadow mx-lg-none mx-md-none text-center">

    <!--main container-->
    <div class="main-container container" id="main-container">
  
      <!-- Content -->
      <div class="row">
  
        <!-- Post Content -->
        <div class="col-12 block-content">
  
          <!--content box-->
          <div class="content-box">
  
            <!-- standard post -->
            <article class="entry">
  
              <!--entry card-details-mini-->
              <div class="col-12 card-details-mini-header text-primary">
                <form [formGroup]="prestationFormBasic" (ngSubmit)="onSubmit()">
                <div class="mb-3" *ngFor="let field of formFieldsBasic">
                    <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                    <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" class="form-control" />
                    <div *ngIf="prestationFormBasic.get(field.name)?.errors && !prestationFormBasic.get(field.name)?.pristine"
                         class="error-msg m-3 text-danger">
                        <div [hidden]="!prestationFormBasic.get(field.name)?.errors?.['required']">
                            cette donnée est obligatoire.
                        </div>
                        <div [hidden]="!prestationFormBasic.controls[field.name].invalid">
                            {{ field.validationMessage }}
                        </div>
                    </div>
                </div>
                </form>
              </div> 
              <!-- end card-details-mini -->
  
            </article> <!-- end standard post -->
  
          </div> <!-- end content box -->
  
        </div> <!-- end post content -->
  
      </div> <!-- end content -->
  
    </div> <!-- end main container -->
  
  </div>
  
