<!-- Button trigger modal -->
<div class="container m-4">
    
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalFormulairePrestation">
    Ajouter une prestation
  </button>

  <!-- Modal -->  
  <div class="modal fade" id="ModalFormulairePrestation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="prestationForm" (ngSubmit)="onSubmit()">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Ajouter une prestation
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="mb-3">
                <label for="title" class="form-label">Titre :</label>
                <input type="text" id="title" formControlName="title" class="form-control"/>
                {{ prestationForm.get('title')?.errors?.['rules'] }}
                <div *ngIf="prestationForm.get('title')?.errors && !prestationForm.get('title')?.pristine" class="error-msg m-3 text-danger">
                  <div [hidden]="!prestationForm.get('title')?.errors?.['required']">
                    Un titre de prestation est obligatoire.
                  </div>
                  <div [hidden]="!prestationForm.controls['title'].invalid">Le champs est limité a 50 caractères.</div>
                </div>
              </div>
    
              <div class="mb-3">
                <label for="duration" class="form-label">Durée de la prestation :</label>
                <input type="text" id="duration" formControlName="duration" class="form-control"/>
                <div *ngIf="prestationForm.get('duration')?.errors && !prestationForm.get('duration')?.pristine" class="error-msg m-3 text-danger">
                  <div  [hidden]="!prestationForm.get('duration')?.errors?.['required']">
                    Un horraire est obligatoire.
                  </div>
                  <div  [hidden]="!prestationForm.controls['duration'].invalid">l'horraire n'est pas conforme hh:mm </div>
                </div>
              </div> 

              <div class="mb-3"><label for="dateStart" class="form-label">Date de début :</label>
                <input type="date" id="dateStart" formControlName="dateStart" class="form-control"/>
                {{ prestationForm.get('dateStart')?.errors?.['rules'] }}
                <div *ngIf="prestationForm.get('dateStart')?.errors && !prestationForm.get('dateStart')?.pristine" class="error-msg m-3 text-danger">
                  <div [hidden]="!prestationForm.get('dateStart')?.errors?.['required']">
                    Une date de prestation est obligatoire.
                  </div>
                  <div [hidden]="!prestationForm.controls['dateStart'].invalid">La date n'est pas conforme jj/mm/aaaa </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="HeureDebutPrestation" class="form-label">Heure de début :</label>
                <input type="text" id="HeureDebutPrestation" formControlName="HeureDebutPrestation" class="form-control"/>
                {{ prestationForm.get('HeureDebutPrestation')?.errors?.['rules'] }}
                <div *ngIf="prestationForm.get('HeureDebutPrestation')?.errors && !prestationForm.get('HeureDebutPrestation')?.pristine" class="error-msg m-3 text-danger">
                  <div  [hidden]="!prestationForm.get('HeureDebutPrestation')?.errors?.['required']">
                    Un horraire est obligatoire.
                  </div>
                  <div  [hidden]="!prestationForm.controls['HeureDebutPrestation'].invalid">l'horraire n'est pas conforme hh:mm </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="description" class="form-label">Description :</label>
                <textarea id="description" formControlName="description" class="form-control"></textarea>
                {{ prestationForm.get('description')?.errors?.['rules'] }}
                <div *ngIf="prestationForm.get('description')?.errors && !prestationForm.get('description')?.pristine" class="error-msg">
                  <div class="m-3 text-danger" [hidden]="!prestationForm.get('description')?.errors?.['required']">
                    Une description de la prestation est obligatoire.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="maxUser" class="form-label">Nombre maximal d'utilisateurs :</label>
                <input type="number" id="maxUser" formControlName="maxUser" class="form-control"/>
                {{ prestationForm.get('maxUser')?.errors?.['rules'] }}
                <div *ngIf="prestationForm.get('maxUser')?.errors && !prestationForm.get('maxUser')?.pristine" class="error-msg">
                  <div class="m-3 text-danger" [hidden]="!prestationForm.get('maxUser')?.errors?.['required']">
                    L'information du nombre de participants maximal est obligatoire.
                  </div>
                </div>
              </div>
              
              <div class="mt-5">
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <img *ngIf="selectedImageURL" [src]="selectedImageURL" alt="Preview" class="img-thumbnail mt-3">
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <div class="d-flex justify-content-end">
              <button type="submit" [disabled]="prestationForm.invalid" class="btn btn-primary m-2">Soumettre</button>
              <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
