{{pageNumber}}
<body>
<div class="d-flex justify-content-center" *ngIf="isLoaded">

    <form [formGroup]="prestationFormBasic" *ngIf="pageNumber == 0" class="col-8 m-4" (ngSubmit)="onSubmitBpNext(0)">
        <div class="container-details p-5 shadow">
            <div>

                <label for="category" class="form-label">Catégories :</label>
                <select id = "category" class="form-select" aria-label="Default select example">
                    <option *ngFor="let category of categories; let i = index" [value]="i + 1">{{category.name}}</option>
                </select>
                
                <div class="mt-3" *ngFor="let field of formFieldsBasic">
                    <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                    <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form-control" />
                    <div *ngIf="prestationFormBasic.get(field.name)?.errors && !prestationFormBasic.get(field.name)?.pristine"
                        class="error-msg m-3 text-danger">
                        <div [hidden]="!prestationFormBasic.get(field.name)?.errors?.['required']">
                            cette donnée est obligatoire.
                        </div>
                        <div [hidden]="!prestationFormBasic.controls[field.name].invalid">
                            {{ field.validationMessage }}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-primary m-3" type="submit" >Suivant</button>
                </div>
            </div>
        </div>
    </form>

    <form [formGroup]="prestationFormCharacteristic" *ngIf="pageNumber == 1" class="col-8 m-4" (ngSubmit)="onSubmitBpNext(1)">
        <div class="container-details p-5 shadow">

            <div>
                <div class="mt-3" *ngFor="let field of formFieldsCharacteristic">
                    <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                    <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form-control" />
                    <div *ngIf="prestationFormCharacteristic.get(field.name)?.errors && !prestationFormCharacteristic.get(field.name)?.pristine"
                        class="error-msg m-3 text-danger">
                        <div [hidden]="!prestationFormCharacteristic.get(field.name)?.errors?.['required']">
                            cette donnée est obligatoire.
                        </div>
                        <div [hidden]="!prestationFormCharacteristic.controls[field.name].invalid">
                            {{ field.validationMessage }}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary m-3" (click)="onSubmitBpPrevious(1)">Précédent</button>
                    <button class="btn btn-primary m-3" type="submit">Suivant</button>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="prestationFormDescription"  *ngIf="pageNumber == 2" class="col-8 m-4" (ngSubmit)="onSubmitBpNext(2)">
        <div class="container-details p-5 shadow">
            <div>

                <div class="mt-3" *ngFor="let field of formFieldsDescription">
                    <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                    <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form-control" />
                    <div *ngIf="prestationFormDescription.get(field.name)?.errors && !prestationFormDescription.get(field.name)?.pristine"
                        class="error-msg m-3 text-danger">
                        <div [hidden]="!prestationFormDescription.get(field.name)?.errors?.['required']">
                            cette donnée est obligatoire.
                        </div>
                        <div [hidden]="!prestationFormDescription.controls[field.name].invalid">
                            {{ field.validationMessage }}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary m-3" (click)="onSubmitBpPrevious(2)">Précédent</button>
                    <button class="btn btn-primary m-3" type="submit">Suivant</button>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="prestationFormLocation"  *ngIf="pageNumber == 3" class="col-8 m-4" (ngSubmit)="onSubmit()">
        <div class="container-details p-5 shadow">
            <div>

                <div class="mt-3" *ngFor="let field of formFieldsLocation">
                    <label [for]="field.name" class="form-label">{{ field.label }} :</label>
                    <input type="{{ field.type }}" [id]="field.name" formControlName="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form-control" />
                    <div *ngIf="prestationFormLocation.get(field.name)?.errors && !prestationFormLocation.get(field.name)?.pristine"
                        class="error-msg m-3 text-danger">
                        <div [hidden]="!prestationFormLocation.get(field.name)?.errors?.['required']">
                            cette donnée est obligatoire.
                        </div>
                        <div [hidden]="!prestationFormLocation.controls[field.name].invalid">
                            {{ field.validationMessage }}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary m-3" (click)="onSubmitBpPrevious(3)">Précédent</button>
                    <button class="btn btn-primary m-3" type="submit">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>