@import "/src/styles/variables.scss";

.container-details {
    width: 80%;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 20px;
   
}
label{
    font-weight: bold; 
}
.cardForm{
    width: 80%;
}

.img-view {
max-height: 30vh;
max-width: 30vh;
}