<!-- Formulaire d'inscription -->
<form class="text-center p-5" action="#!">

    <p class="h4 mb-4 text-tertiary">Déja inscrit ? </p>

    <!-- Email -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Adresse e-mail">

    <!-- Password -->
    <input type="password" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Mot de passe">

    <!-- Sign in button -->
    <button class="btn btn-quinary btn-block text-tertiary" type="submit">Sign in</button>
</form>

