<div class="card" style="width: 13rem">
  <div class="card-body">
    <h6 class="category-text">Textile</h6>
    <h5 class="card-title">Formez-vous à la tapisserie d'ameublement</h5>
    <img
      class="card-img-top"
      src="assets/activities/upholstery.jpg"
      alt="Activity"
    />
    <br /><br />
    <p class="card-points">50 pts</p>

    <p class="card-duration"><i class="bi bi-alarm"></i> 3H</p>
    <p class="card-city"><i class="bi bi-geo-alt"></i> Bordeaux</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>
