@import "src/styles.scss";

.card {
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(19, 19, 19, 0.362);
}

.card-title {
  font-size: 14px;
}

.card-duration,
.card-city {
  font-size: 15px;
}
