.pageAuth {
    background-color: #22577A;
}

.containerFormAuth{
    display: flex;
    justify-content: space-evenly;
}

.titleFormAuth{
    width: 100%;
    text-align: center;
    color: #ffedeb;
    padding-top: 3%;
}

.formRegister{
    width: 30%;
}

.formLogIn{
    width: 30%;
}


