<div class="card-details-mini p-5 presta-my-12 presta-ml-17 position-relative">

  <!--main container-->
  <div class="main-container container" id="main-container">

    <!-- Content -->
    <div class="row ">

      <!-- Post Content -->
      <div class="col-lg-5 block-content">

        <!--content box-->
        <div class="content-box">

          <!-- standard post -->
          <article class="entry">

            <!--entry card-details-mini-->
            <div class="card-details-mini-header">

              <div class="bold mini-card-description">
                Rencontre Mélanie, forme toi à la tapisserie d’ameublement
              </div>

              <p class="timer-workshop">3h d’atelier</p>

              <p>+</p>

              <p class="style-workshop">découverte d’un savoir-faire</p>

              <p>=</p>

              <p class="points-workshop">
                50 Pts/pers
                à gagner en participant à l’atelier
              </p>

              <p class="points-partner-workshop">Ces points généreront un code promo à dépenser chez nos partenaires</p>  
              
              <!-- button reserve-->
              <button class="btn btn-quinary btn-block text-tertiary" type="submit">Je réserve</button>
              <!-- end button -->

            </div> 
            <!-- end card-details-mini -->

          </article> <!-- end standard post -->

        </div> <!-- end content box -->

      </div> <!-- end post content -->

    </div> <!-- end content -->

  </div> <!-- end main container -->

</div>
