// Footer
.footer {
  background-color: #22577a;
  color: #ffffff;
  padding: 20px 0;

  h2,
  h3,
  h4,
  h5,
  p {
    color: #ffffff;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  .social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin-right: 10px;
    }
  }

  h5 {
    text-align: center;
  }
}
