@import "/src/styles/variables.scss";

.footer {
  height: 23rem;
  border-top: map-get($theme-colors, quinary) 5px solid; 
  
  .nav-link {
    color: white;
  }
  .social-media-list {
      justify-content: center;
      align-items: center;

    a {
      margin-right: 50px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
