<footer class="footer bg-primary presta-mt-10 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 presta-mt-7">
        <h3 class="text-white">PrestaPoints</h3>
        <p>PrestaPoints permet à des passionnés de partager leur savoir-faire avec des novices à travers des ateliers et d'obtenir des réductions dans des grandes enseignes</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-white presta-mt-8 presta-ml-17">Réseaux sociaux</h4>
            <div class="social-media-list presta-mt-5 presta-ml-20">
              <a href="#" class="nav-link"><i class="bi bi-facebook fs-3"></i></a>
              <a href="#" class="nav-link"><i class="bi bi-twitter fs-3"></i></a>
              <a href="#" class="nav-link"><i class="bi bi-instagram fs-3"></i></a>
            </div>
      </div>
    </div>
    <hr>
    <div class="informations">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-white">Notre offre</h4>
            <div>
              <a href="#" class="nav-link">Par univers</a>
            </div>
            <div>
              <a href="#" class="nav-link">Par ville</a>
            </div>
            <div>
              <a href="#" class="nav-link">Par savoir-faire</a>
            </div>
            <div>
              <a href="#" class="nav-link">Offrir une carte cadeau</a>
            </div>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">PrestaPoints</h4>
            <div>
              <a href="#" class="nav-link">Notre mission</a>
            </div>
            <div>
              <a href="#" class="nav-link">Nos partenaires</a>
            </div>
            <div>
              <a href="#" class="nav-link">Rejoindre notre équipe</a>
            </div>
            <div>
              <a href="#" class="nav-link">Devenir artisan PrestaPoints</a>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-white">Liens utiles</h4>
              <div>
                <a href="#" class="nav-link">FAQ</a>
              </div>
              <div>
                <a href="#" class="nav-link">Le blog</a>
              </div>
              <div>
                <a href="#" class="nav-link">Presse</a>
              </div>
              <div>
                <a href="#" class="nav-link">Espace Artisan</a>
              </div>
        </div>  
      </div>
    </div>
  <hr>
    <div class="text-center">
      <h4>&copy; 2023 PrestaPoints. Tous droits réservés.</h4>
    </div>
  </div>
</footer>
