
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./_variables.scss";

body {
  font-family: 'Raleway', sans-serif;
  color: map-get($colors, black-blue);
    overflow-x: hidden !important;
    font-size: map-get($font-size, mid);

    main {
        overflow: hidden !important;
        width: 100%;
    }
}

.btn {
    font-family: 'Sora', sans-serif;
    text-transform: none;
    width: fit-content;
    background-color: map-get($colors, blue);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.6rem;
    font-size: map-get($font-size, m);
    letter-spacing: 0;
    &-primary {
        padding: 1.25rem 2rem;
    }

    &-secondary {
        padding: 0.5rem 2rem;
    }

    &:hover {
        background-color: map-get($colors, blue-hv) !important;
        border-color: map-get($colors, blue-hv) !important;
    }

    &:focus {
        background-color: map-get($colors, blue-hv) !important;
        border-color: map-get($colors, blue-hv) !important;
        box-shadow: 0 0 0 0.25rem #3184fd80;
    }

    &:active {
        background-color: map-get($colors, blue-hv) !important;
        border-color: map-get($colors, blue-hv) !important;
        &:focus {
            box-shadow: 0 0 0 0.25rem #3184fd80;
        }
    }
}

// TEXT & TITLES

h1 {
    @extend .text-black-blue;
    @extend .text-fw-xx-bold;
    @extend .text-fs-lgx;
    @extend .text-fs-md-xl;

    font-family: 'Sora', sans-serif;
}

h2 {
    @extend .text-black-blue;
    @extend .text-fw-x-bold;
    @extend .text-fs-md;
    @extend .mb-lg;

    font-family: 'Sora', sans-serif;
}

h3 {
    @extend .text-black-blue;
    @extend .text-fw-x-bold;
    @extend .text-fs-m; // A voir si la taille est OK
    @extend .mb-m;

    font-family: 'Sora', sans-serif;
}

.text-fs-md{
    line-height: 2.2rem;    
}

.small-title {
    color: map-get($colors, blue);
    font-size: map-get($font-size, sm);
    font-weight: map-get($font-weight, bold);
    text-transform: uppercase;
    margin-bottom: 0;
}

//CONTAINER

.container-fluid{
    max-width: 1080px;
    width: 95%;
}
